<% if (theme.busuanzi_enable) { %>

    <% if (theme.busuanzi_page_pv && busuanzi_type == "page") { %>
        <%= theme.busuanzi_page_pv_header %>
        <span id="busuanzi_value_page_pv" ></span>
        <%= theme.busuanzi_page_pv_footer %>
    <% } %>

<% } %>

